<div class="d-flex justify-content-center m4">
  <h4>Instructions: First click the "show words" button and try to memorize as many words as possible in 1 minute. 
    Click the button again to hide the words and try to write down as many as you can remember (make note of your score). Don't read ahead till you tried memorizing them yourself first!!
    Now, I want you to think of this: Imagine you are out in a nice sunny day (1 sun). You put your shoes (2 shoes) on and start walking but 
    there is just this random street light (for 3 different colors) hung on a tree branch in your front yard. You think, how could that be when you see that it 
    is hanging by some string thrown over the tree limb and anchored to a big oak table (4 legs of a table) on the other side.
    You wait for the green light and walk past the table when you see some floating gloves (5 fingers) that were tying 
    the string to the table and are ahead of you now. You follow the gloves and see that their invisible owner is now holding a can of 
    mountain due soda (think 6 pack) and walks to the base of a rainbow (7 colors) next to a small pond where you see piles of skittles. From the pond, you see an 
    octopus' (8 tentacles) arm slide out slowly to take some tasty skittles when pus and boots (cat has 9 lives) appears out of nowhere to smack the octopus' arm with his sword 
    and snatch up the skittles himself. The invisible man does not take kindly to robbery so chases after pus. You notice that pus has tried out toe shoes (10 toes)
    for someminimalist running but it isn't working for him some he jumps onto a pair of skis (skis side by side look like 11) to outpace the invisible man. On the way down the hill, pus 
    snatches up a rose (12 roses) from the ground (because he is dapper like that) and gets to the bottom of the hill where he escapes in his space ship (like apollo 13). 
    The invisible man shoots a carrot (like 14 karat gold) rocket launcher at the space ship. Luckily, pus bats it away with a tennis racket (put a 5 on top of a 1 and it looks like a racket) 
    The invisible man uses a candle (the movie 16 candles) to fire a cannon at the space ship and this time pus jumps off the ship. Pus falls for a while and just when you thought 
    he was about to meet his kitty demise, he spreads his arms and is using a wing suit made from magazines (the magazine called 17). He glides straight into a voting booth 
    to vote the invisible man out of public office (you must be 18 to vote) and snatches up his golf glubs for some rest and relaxation (19 - there are 18 holes but the 19th hole is commenly referred to as the bar after golf) 
    but has trouble seeing the flag so puts on these huge glasses (20:20 vision) so he can begin a great game of golf.

    The story you just read showed all of the items that you tried to memorize and associated those words with numbers and linked them into a story. Now try to memorize the words 
    again and see if you can memorize all 20!!
  </h4>
</div>

<button
  type="button"
  name="button"
  (click)="justCheck()"
  class="btn btn-primary btn-block my-3 ml-1"
>
  Show Words
</button>

<ng-template [ngIf]="loggedIn">
  <ul class="list-group">
    <li *ngFor="let info of infoReceived" class="list-group-item">
      {{ info }}
    </li>
  </ul>
</ng-template>
